@use "../../styles/variables.scss" as var;

.container {
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 5px;

  .ActivityLegend {
    width: 90%;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 0.8rem;
  }

  .circles {
    font-size: 1rem;
    font-weight: 500;
    color: #74798c;
    width: 18rem;
    display: flex;
    justify-content: space-between;

    .black {
      width: 0.6rem;
      height: 0.65rem;
      background-color: black;
      border-radius: 0.3rem;
      margin-top: 1.2rem;
      margin-right: 0.5rem;
    }
    .red {
      width: 0.6rem;
      height: 0.65rem;
      background-color: #e60000;
      border-radius: 0.3rem;
      margin-top: 1.2rem;
      margin-right: 0.5rem;
    }
  }

  .circle {
    display: flex;
  }
}

.custom {
  background-color: #e60000;
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
  margin-left: 2rem;
}
