.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: calc(100vh - 91px);
}

.LateralUi {
  flex: 0 0 117px;
}

.Outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}